body {
	margin: 8px;
}

.navbar{
	height:8%;
	z-index:0;
}


/*选视图按钮*/
.panelContainer{
	position:absolute;
	left:80%;
	top:15%;
	height:100%;
}
.panelContainer > .pagination{
	margin:0px;
}




/*linechart视图*/
#linechartview-collection {
	position:absolute;
	top:9%;
	height:80%;
	width:99%;
	float: left;
}
#linechartview-collection > .HVACgraphContainer {
	position:absolute;
	height:100%;
	width:20%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#linechartview-collection > .HVACgraphContainer > #HVACgraph-maps{
	position:absolute;
	height:100%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#linechartview-collection > .linechartContainer {
	position:absolute;
	left:20.5%;
	height:100%;
	width:79.5%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#linechartview-collection > .linechartContainer > #HVACgraph-attr-btn{
	position:absolute;
	height:7%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
	overflow-y:scroll;/*内容多时提供滚轮*/
}
#linechartview-collection > .linechartContainer > #linechart-line-btn{
	position:absolute;
	top:7%;
	height:7%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
	overflow-y:scroll;/*内容多时提供滚轮*/
}
#linechartview-collection > .linechartContainer > #linechart-renderplace{
	position:absolute;
	top:14%;
	height:86%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
	overflow-y:scroll;/*内容多时提供滚轮*/
}


/*trajectory视图*/
#trajectoryview-collection {
	position:absolute;
	top:9%;
	height:80%;
	width:99%;
	float: left;
}
#trajectoryview-collection > .proxgraphContainer {
	position:absolute;
	height:100%;
	width:20%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#trajectoryview-collection > .proxgraphContainer > #proxgraph-maps{
	position:absolute;
	height:100%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#trajectoryview-collection > .trajectoryContainer {
	position:absolute;
	left:20.5%;
	height:100%;
	width:79.5%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#trajectoryview-collection > .trajectoryContainer > #trajectory-bigmap{
	position:absolute;
	height:70%;
	width:80%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#trajectoryview-collection > .trajectoryContainer > #trajectory-ganttchart{
	position:absolute;
	top:70%;
	height:30%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#trajectoryview-collection > .trajectoryContainer > #trajectory-histogram{
	position:absolute;
	left:80%;
	height:70%;
	width:20%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}


/*timeline视图*/
#timelineview-collection {
	position:absolute;
	top:90%;
	height:10%;
	width:99%;
	float: left;
}
#timelineview-collection > .timelineContainer {
	position:absolute;
	height:100%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}
#timelineview-collection > .timelineContainer > #timeline-renderplace{
	position:absolute;
	height:100%;
	width:100%;
	float: left;
	border: solid #ccc 1px;
	border-radius: 5px;
	background-color: #f8f8f8;
}