.HVACmonitor-span{
    padding: 0px;
    margin: 0px !important;
    border: solid 0px;
    display:inline-block;
    border-radius: 0px;
    cursor: pointer;
    font-size: 10px;
    float:left;
}

.HVACmonitor-attr-circle{
	stroke:black;
	stroke-width:0.5;
}

.mouseover_hided-HVACmonitor-span
{
    opacity: 0.1;
}

.mouseover_hided-HVACmonitor-radarchart_glyph-div
{
    opacity: 0.1;
}