.HVACattrbtn-span{
    padding: 1px;
    margin: 3px !important;
    border: solid 2px #111;
    display:inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.HVACzone_oridinary_attr-HVACattrbtn-span{
    background: #74c476;
}
.HVACzone_hazium-HVACattrbtn-span{
    background: green;
}
.building_attr-HVACattrbtn-span{
    background: #AA50FF;
}
.floor_attr-HVACattrbtn-span{
    background: #6070FF;
}

.click_selected-HVACattrbtn-span{
    background: #FF7060;
}
.mouseover_hided-HVACattrbtn-span{
    opacity: 0.5;
}


.HVACzone_oridinary_attr-HVACattrbtn-span-smallspans{
    background: #74c476;
}
.HVACzone_hazium-HVACattrbtn-span-smallspans{
    background: green;
}
.building_attr-HVACattrbtn-span-smallspans{
    background: #AA50FF;
}
.floor_attr-HVACattrbtn-span-smallspans{
    background: #6070FF;
}