/*
.HVACattrbtn-rect{
	opacity: 0.2;

}

.HVACattrbtn-text{
  	font: 15px sans-serif;
  	font-weight:600;
  	opacity:0.6;
}

.selected-HVACattrbtn > .HVACattrbtn-rect{
	fill:red;
}
*/



.HVACattrbtn-span{
    background: #74c476;
    padding: 1px;
    margin: 3px !important;
    border: solid 1px #111;
    display:inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.selected-HVACattrbtn-span{
    background: red;
    padding: 1px;
    margin: 3px !important;
    border: solid 1px #111;
    display:inline-block;
    border-radius: 3px;
    cursor: pointer;
}
