.HVAClinechart-span{
    background: white;
    padding: 0px;
    margin: 0px !important;
    border: solid 1px #111;
    display:inline-block;
    border-radius: 1px;
    /*cursor: pointer;*/
}

.HVAClinechart-span >.HVAClinechart-btntitle-span{
    text-align:center;

    vertical-align: top;

    background: white;
    padding: 0px;
    margin: 5px;/* !important;*/
    border: solid 1px #111;
    display:inline-block;
    border-radius: 0px;

    cursor: pointer;
}

.HVAClinechart-span >.HVAClinechart-linechart-span{    
    padding: 0px;
    margin: 0px;/* !important;*/
    border: solid 0px #111;
    display:inline-block;
    border-radius: 0px;
}