.HVAClinechart-div{
    position:relative;
    border-radius: 1px;
}

.HVAClinechart-div >.HVAClinechart-paneldiv{
    cursor: pointer;
    position:absolute;
    left:0%;
    width:12%;
    height:100%;
}
.HVAClinechart-div >.HVAClinechart-paneldiv >.HVAClinechart-textdiv{
    text-align:center;
    border: solid 1px #111;
    cursor: pointer;
    font-size: 10px;

    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:25%;
}
.HVAClinechart-div >.HVAClinechart-paneldiv >.HVAClinechart-markdiv{
    text-align:center;
    background: white;
    border: solid 1px #111;
    cursor: pointer;
    font-size: 10px;

    position:absolute;
    left:0%;
    top:75%;
    width:33.3%;
    height:25%;
}
.HVAClinechart-div >.HVAClinechart-paneldiv >.HVAClinechart-topdiv{
    text-align:center;
    background: white;
    border: solid 1px #111;
    cursor: pointer;
    font-size: 10px;

    position:absolute;
    left:33.3%;
    top:75%;
    width:33.3%;
    height:25%;
}
.HVAClinechart-div >.HVAClinechart-paneldiv >.HVAClinechart-bottomdiv{
    text-align:center;
    background: white;
    border: solid 1px #111;
    cursor: pointer;
    font-size: 10px;

    position:absolute;
    left:66.6%;
    top:75%;
    width:33.3%;
    height:25%;
}


.HVAClinechart-div >.mouseover_hided-HVAClinechart-paneldiv{
   opacity: 0.5;
}

.HVAClinechart-div >.HVAClinechart-linechartdiv{    
    position:absolute;
    left:12%;
    width:88%;
    height:100%;
}