.HVAClinechartbtn-span{
    background: white;
    padding: 1px;
    margin: 3px !important;
    border: solid 2px #111;
    display:inline-block;
    border-radius: 3px;
    cursor: pointer;
}

.click_selected-HVAClinechartbtn-span{
    background: #FF7060;
}

.mouseover_selected-HVAClinechartbtn-span{
    border: solid 2px #DDDD00;
}
