.smallmaps-rect{
	stroke: #111;
	stroke-width: 2;
}
.floor-smallmaps-rect{
    fill: #8090FF;
}
.building-smallmaps-rect{
    fill: #CA70FF;
}

.click_selected-smallmaps-rect{

}
.mouseover_hided-smallmaps-rect{
	opacity: 0.2;
}


.smallmaps-HVACzone-circle{
	stroke: #111;
	stroke-width: 2;

}
.ordinary-smallmaps-HVACzone-circle{
    fill: #94E496;
}
.hazium-smallmaps-HVACzone-circle{
    fill: #64D4C6;
}

.click_selected-smallmaps-HVACzone-circle{

}
.mouseover_hided-smallmaps-HVACzone-circle{
	opacity: 0.3;
}
