.smallmaps-rect{
	stroke: #111;
	stroke-width: 2;
}
.floor-smallmaps-rect{
    fill: #6070FF;
}
.building-smallmaps-rect{
    fill: #AA50FF;
}

.click_selected-smallmaps-rect{
	fill: #FF7060;
}
.mouseover_selected-smallmaps-rect{
	stroke: #DDDD00;
	stroke-width: 2;
}


.smallmaps-HVACzone-circle{
	stroke: #111;
	stroke-width: 2;
}
.ordinary-smallmaps-HVACzone-circle{
    fill: #74c476;
}
.hazium-smallmaps-HVACzone-circle{
    fill: green;
}

.click_selected-smallmaps-HVACzone-circle{
	fill: #FF7060;
}
.mouseover_selected-smallmaps-HVACzone-circle{
	stroke: #DDDD00;
	stroke-width: 2;
}
